/* Home Page: logo, Find Help button, and exit button styling */
.resource-section {
    margin-top: 69px;
    width: 100%;
}

@media (max-width: 991px) {
    .resource-section {
        margin-top: 40px;
    }
}

.resource-content {
    display: flex;
    gap: 20px;
}

@media (max-width: 991px) {
    .resource-content {
        flex-direction: column;
        gap: 0;
    }
}

.resource-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: normal;
}

@media (max-width: 991px) {
    .resource-info {
        width: 100%;
    }
}

.resource-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 0;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .resource-text {
        margin-top: 40px;
    }
}

.resource-description {
    color: #000;
    font: 600 24px 'Montserrat', sans-serif;
}

.resource-action {
    border-radius: 17px;
    background-color: rgba(114, 23, 43, 1);
    color: #fff;
    margin-top: 20px;
    padding: 8px 30px;
    font: 700 25px 'Montserrat', sans-serif;
    align-self: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .resource-action {
        width: 100%;
        padding: 15px;
    }
}

.resource-media {
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: normal;
    margin-left: 20px;
}

/* Resource section responsiveness */
@media (max-width: 991px) {
    .resource-media {
        width: 100%;
        margin-left: 0;
    }
}

.image-gallery {
    flex-grow: 1;
}

@media (max-width: 991px) {
    .image-gallery {
        margin-top: 40px;
    }
}

.image-row {
    display: flex;
    gap: 20px;
}

@media (max-width: 991px) {
    .image-row {
        flex-direction: column;
        gap: 0;
    }
}

.main-image-container {
    display: flex;
    flex-direction: column;
    width: 84%;
    line-height: normal;
}

@media (max-width: 991px) {
    .main-image-container {
        width: 100%;
    }
}

.main-image {
    aspect-ratio: 2.7;
    width: 100%;
    object-fit: cover;
    object-position: center;
    flex-grow: 1;
}

@media (max-width: 991px) {
    .main-image {
        margin-top: 40px;
    }
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    width: 16%;
    line-height: normal;
}

@media (max-width: 991px) {
    .thumbnail-container {
        width: 100%;
        flex-direction: row;
        overflow-x: auto;
    }
}

.thumbnail {
    aspect-ratio: 1.15;
    width: 111px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
}

@media (max-width: 991px) {
    .thumbnail {
        margin-top: 0;
        margin-right: 10px;
    }
}

/* Home Page: Resource section styling */
.webpage-links {
    background-color: #63838F;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

@media (max-width: 991px) {
    .columns {
        flex-direction: column;
        gap: 20px;
    }
}

.column-first,
.column-second,
.column-third {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px;

}

.header-first,
.header-second,
.header-third {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    margin: 20px 0;
}

.text-first,
.text-second,
.text-third {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.btn-first,
.btn-second,
.btn-third {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgba(5, 56, 75, 1);
    border-radius: 31px;
    padding: 12px 52px;
    margin: 20px 0;
    align-self: center;
    justify-content: center;
    flex-grow: 1;

}

@media (max-width: 991px) {
    .btn-first,
    .btn-second,
    .btn-third {
        width: 100%;
    }

    .column-first,
    .column-second,
    .column-third {
        margin-top: 40px;
    }
}

/* Home Page Footer */
.home-footer {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    padding: 20px;
}
.footer-heading {
    color: #72172B;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 0; 
}

.footer-text {
    color: black;
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: 400;
    word-wrap: break-word;
    flex: 1;
    margin-top: 33px;
}

.footer-image {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .footer {
        flex-direction: column; 
        align-items: center;
    }

    .footer-heading,
    .footer-text {
        font-size: 18px;
        text-align: center;
    }

    .footer-image {
        width: auto; 
        margin: 10px 0;
    }
}

/* Security Alert Styling: Pop up button */

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-container.open {
    display: flex;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: relative;
    background-color: #fff;
    border-radius: 17px;
    padding: 20px;
    z-index: 1001;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.alert-header {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 18px;
    color: #93403e;

}

.alert-text-first, .alert-text-second, .alert-text-third, .alert-text-fourth {
    margin-bottom: 0.45cm;
    font-family: Montserrat;
    font-size: 19px;
}

.popup-link {
    text-decoration: underline;
    color: inherit;
}

.popup-button-container {
    text-align: center;
    margin-top: 20px;
}

.popup-button {
    padding: 15px 30px;
    margin-top: 12px;
    width: 45%;
    font-size: 23px;
    font-weight: bolder;
    border: none;
    border-radius: 33px;
    font-family: Montserrat;
    background-color: #05384B;
    color: #fff;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #05384B;
}

/* Security Alert responsiveness for smaller screens */
@media (max-width: 600px) {
    .popup-content {
        width: 95%;
        height: auto;
    }

    .popup-header {
        font-size: 16px;
    }

    .popup-button {
        width: 100%;
        padding: 15px 0;
    }
}