 .navbar-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    padding: 10px 50px;
    background-color: #E5DED1; /* Light-colored background */
}

.navbar-links {
    display: flex;
    gap: 20px; /* Space between links */
}

.navbar-links div {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: #333; /* Dark text color for contrast */
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar-links div:hover {
    background-color: #ddd; /* Lighter background on hover */
}

.menu-icon {
    width: 30px; /* Size of the menu icon */
    height: auto;
}
