.menu-icon {
    margin-right: 20px; 
    width: 30px; 
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E5DED1;
}

.navbar-links {
    display: flex;
    gap: 20px; 
    margin-left: auto;
}

.navbar-links div {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: #55101f;
    padding: 5px 10px;
    transition: background-color 0.5s;
    text-decoration: none;
}

.navbar-links div:hover {
    background-color: #b7b7b7; 
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }
}

@media (min-width: 768px) {
    .ml-auto {
        margin-left: auto;
    }
}