.find-help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.find-help-image {
    width: 25%;
    height: auto;
    margin-bottom: 20px;
}

.find-help-content {
    max-width: 600px;
}

.find-help-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.find-help-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.find-help-crisis-info {
    font-weight: bold;
    color: #72162b;
}

.find-help-crisis-info-underline {
    text-decoration: underline;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.row {
    width: 100%;
}

.column {
    float: left;
    background-color: #E9E6E2;
    font-family: "Montserrat", sans-serif;
}

.left {
    width: 27%;
    margin-left: 3%;
}

.right {
    width: 67%;
    margin-right: 3%;
}

.btn {
    font-size: medium;
    background-color: #72162b;
    margin-top: 0.5rem;
    margin-right: 1rem;
    border: none;
    color: white;
}

.pressed {
    background-color: #05384B;
    color: white;
}

.btn:hover {
    background-color: #05384B;
    color: white;
}

.left .map {
    margin-bottom: 15px;
    border-radius: 0.75rem;
    outline: 1px solid #B5A4A3;
    background-color: #e5ded2;
}

.right .map {
    margin-bottom: 40px;
    border-radius: 0.75rem;
    outline: 1px solid 5384B;
    border: 20px solid #05384B;
}

.form-check {
    margin-bottom: 1rem;
}

.form-check label {
    /* margin-left: 0.5rem; */
    margin-top: 0.25rem;
}

.marker-card h1 {
    font-size: 28px;
    color: #535E4B;
    margin-bottom: 1rem;
}

.marker-card img {
    height: 200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #FF9A62;
}

.marker-card h2 {
    font-family: 'Noto Serif Display', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #535E4B;
}

.marker-card p {
    font-size: 15px;
    text-align: center;
}

.marker-card li {
    font-family: "DM Sans", sans-serif;
}

/* On screens that are 430px wide or less, make the columns stack on top of each other */
@media screen and (max-width: 600px) {
    .left {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .right {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 25px;
    }
}