.find-help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.find-help-image {
    width: 25%;
    height: auto;
    margin-bottom: 20px;
}

.find-help-content {
    max-width: 600px;
}

.find-help-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.find-help-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.find-help-crisis-info {
    font-weight: bold;
    color: #d9534f;
}

.find-help-crisis-info-underline {
    text-decoration: underline;
}

.find-help-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.find-help-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.find-help-resources, .find-help-accessibility, .find-help-clear-filters {
    width: 80%;
    margin-bottom: 1rem;
}

.find-help-category {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.resource-item, .accessibility-option, .clear-all-filters {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer; /* Pointer cursor on hover */
}

.resource-icon {
    width: 30px;
    height: 30px;
    background-color: #ddd; /* Placeholder for icons */
    margin-right: 10px;
    border-radius: 50%; /* Circular icons */
}

.resource-name, .accessibility-option {
    font-size: 1rem;
    color: #666;
}

.clear-all-filters {
    font-size: 1rem;
    color: #d9534f;
    font-weight: bold;
}

.find-help-map {
    width: 50%;
    height: auto;
    margin-top: 1rem;
}
